[user]
	name = Brendan Dash
	email = me@aiwan.run

[alias]
#    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
#    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
    wt = worktree
    wtl = worktree list
    wta = worktree add
    wtr = worktree remove
    wtp = worktree prune
[core]
	quotepath = false
	ignorecase = false
[http "https://github.com"]
	proxy = socks5://127.0.0.1:6153
[https "https://github.com"]
	proxy = http://127.0.0.1:6152

